/* Général */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #2C2E33;
    color: #FFFFFF;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}