/* Général */
main h1 {
    color: #4DB6AC; /* Bleu-vert lumineux */
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

/* Conteneur du tableau (ajout pour gérer le scroll) */
.table-wrapper {
    max-height: 522px; /* Hauteur maximale du tableau (ajustez la valeur en fonction de vos besoins) */
    overflow-y: auto;  /* Ajoute une barre de défilement verticale si nécessaire */
    margin-top: 20px;  /* Pour un peu d'espace au-dessus du tableau */
    border: 1px solid #333; /* Optionnel : une bordure pour mieux délimiter la zone */
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1F1F1F; /* Gris très foncé */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Fixer l'en-tête du tableau */
table th {
    background-color: #263238; /* Bleu-vert foncé */
    color: #ECEFF1; /* Blanc cassé */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: sticky;
    top: 0;
    z-index: 1; /* S'assurer que l'en-tête reste au-dessus du contenu */
    border-bottom: 2px solid #333; /* Légère bordure pour mieux délimiter l'en-tête */
}

/* Style des cellules du tableau */
table th, table td {
    padding: 15px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #333; /* Gris foncé */
}

table td {
    color: #B0BEC5; /* Gris clair */
    background-color: #1C1C1C; /* Gris très foncé */
}

table tr:nth-child(even) td {
    background-color: #212121; /* Gris légèrement plus clair */
}

table tr:hover td {
    background-color: #37474F; /* Gris-bleu foncé */
    cursor: pointer;
}

/* Boutons de paiement */
.oui {
    background-color: #4CAF50; /* Vert */
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.oui:hover {
    background-color: #45A049;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.non {
    background-color: #F44336; /* Rouge */
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.non:hover {
    background-color: #E53935;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
